<h1> Welcome page </h1>

<h3> Not feeling your best! Schedule an appointment with one of our specialist. 
    If your haven't created an account <%= link_to "click here!", signup_path %> If you already have an account <%= link_to "click here!", login_path %>
</h3>